#myModal.modal
            .modal-background
              .modal-card(style="width: 80%")
                  header.modal-card-head
                    p.modal-card-title Fill detail below
                  section.modal-card-body
                    .table-cointainer
                
                    table(id="table_data" class="table is-fullwidth" style="text-align: center;")
                      thead
                        th Id
                        th Service Name
                        th CPU Load
                        th Ram Used
                        th Bandwidth
                        th Database Status
                        th Service Status
                        
                      tbody#table_tbody
                      
                      
                        tr
                          td No
                          td Firstname
                          td Lastname
                          td Age
                          td Address
                          td Mobile
                          td status



                        
                  footer.modal-card-foot(style="background-color:#393E52")

        
                        button(type="button" class=" button is-primary is-outlined" id="cancel_btn" value="cancel" float="right") Cancel